.results {
  text-align: center;

  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }

  .restartButton {
    padding: 10px 20px;
    font-size: 1.25rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .5s ease-in;
    &:hover {
      background-color: #0056b3;
      transition: .5s ease-in-;
    }
  }
}