.textDisplay {
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 20px;
  white-space: pre-wrap;
  letter-spacing: 4px;
  color: rgba(0, 0, 0, .4);

  span {
    &.correct {
      color: #3023d8;
      font-weight: 600;
    }

    &.incorrect {
      color: red;
      font-weight: 600;
    }
  }

  @media (max-width: 480px) {
    font-size: 1.5rem;
    padding: 8px;
    margin-bottom: 0;
    letter-spacing: 1px;
  }
}